<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid body">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_right main_right_2">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <figure>
                                <img src="images/7.jpeg" class="about-image"> 
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 main_left main_left_2">
                        <!-- <p>Find out weather details of your place</p> -->
                        <h1>I am a Full Stack Web Developer</h1>
                        <a href="/weather"><button class="check">About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>