<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid body">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_right main_right_2">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <figure>
                                <img src="images/8.png" width="600px" class="error"> 
                            </figure>
                        </div>
                        <h1 class="error-msg">404, Page not found!!!</h1>
                        <a href="/"><button class="check">Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>